.goods-img-container {
    display: inline-block;
    position: relative;
    height: fit-content;
}

.goods-img {
    position: relative;
    width: 3rem;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background: #000;
    border: 3px outset #cfaf82;
    vertical-align: middle;
}

.goods-img.round {
    border-radius: 50%;
}
.goods-img.small {
    width: 2rem;
}

.goods-image-nr {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 1.3rem;
    text-shadow: 2px 2px #000;
}
