.timer {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  padding: 0.7rem 1.2rem;
  background: #333333cc;
  z-index: 999;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 200px;

  &.done {
    animation: ALARM 1s infinite;
  }

  .title {
    display: block;
    font-size: 0.8rem;
  }
}

.timer-buttons {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  align-content: flex-end;

  button {
    padding: 3px 8px;
    font-size: 0.5em;
  }
}

@keyframes ALARM {
  0%,
  49% {
    background-color: #ff0000cc;
    border-color: #f00;
  }
  50%,
  100% {
    background-color: #333333cc;
  }
}
